div
	div(class="panel panel-default")
		div(class="panel-heading")
			h3(class="panel-title") Description
		div(class="panel-body")
				{{currentExercise.details.description}}
	div(class="panel panel-default")
		div(class="panel-heading")
			h3(class="panel-title") Steps
		div(class="panel-body", ng-bind-html="currentExercise.details.procedure|lineFeederFltr")
		
