div(class="row")
	div(class="col-sm-3")
	div(class="col-sm-6")
		h1(class="text-center") Wel Done!
		br
		img(src="images/finish.png", style="width:50%", class="center-block")
		br
		div(id="start", class="row")
			a(href="#/workout")
				span Start Again!
				span(class="glyphicon glyphicon-play")
	div(class="col-sm-3")